@media screen and (max-width: 767px) {
    .table thead {
        display: none;
    }

    .table, .table tbody, .table tr, .table td {
        display: block;
        width: 100%;
    }

    .table tr {
        margin-bottom: 15px;
    }

    .table td {
        text-align: center;
        position: relative;
    }

    .table td a {
        display: block;
    }

    .table td::before {
        content: attr(data-label);
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        font-weight: bold;
    }
}
